.bug {
  background-color: #abb642;
}

.dark {
  background-color: #6c584a;
}

.dragon {
  background-color: #6843ef;
}

.electric {
  background-color: #f2d054;
}

.fairy {
  background-color: #e29dac;
}

.flying {
  background-color: #4b4b4b;
}

.fighting {
  background-color: #b13c31;
}

.fire {
  background-color: #e28544;
}

.ghost {
  background-color: #6c5a94;
}

.grass {
  background-color: #8bc560;
}

.ground {
  background-color: #dbc074;
}

.ice {
  background-color: #a6d6d7;
}

.normal {
  background-color: #00000078;
}

.poison {
  background-color: #94489b;
}

.psychic {
  background-color: #e66388;
}

.rock {
  background-color: #b4a04a;
}

.steel {
  background-color: #b8b8ce;
}

.water {
  background-color: #6f91e9;
}

.Bicho {
  background-color: #abb642;
}

.sombra {
  background-color: #6c584a;
}

.Dragón {
  background-color: #6843ef;
}

.Eléctrico {
  background-color: #f2d054;
}

.Hada {
  background-color: #e29dac;
}

.Volador {
  background-color: #4b4b4b;
}

.Lucha {
  background-color: #b13c31;
}

.Fuego {
  background-color: #e28544;
}

.Fantasma {
  background-color: #6c5a94;
}

.Planta {
  background-color: #8bc560;
}

.Tierra {
  background-color: #dbc074;
}

.Hielo {
  background-color: #a6d6d7;
}

.Normal {
  background-color: #00000078;
}

.Veneno {
  background-color: #94489b;
}

.Psíquico {
  background-color: #e66388;
}

.Roca {
  background-color: #b4a04a;
}

.Acero {
  background-color: #b8b8ce;
}

.Agua {
  background-color: #6f91e9;
}


::-webkit-scrollbar {
  width: 20px;
  border-radius: 15px;
  background-color: #4b4b4b27;
}


::-webkit-scrollbar-thumb {
  background: url('../assets/pokebola.svg');
  background-repeat: no-repeat;
  background-position: center;
  size: 12px;
}